<!--<pre>{{var}}</pre>-->

<div class="col-lg-12 col-xs-7">
<table class="table table responsive">
    <tr> <th>City Name</th>
        <th>weather situation</th>
        <th>Sunset Time</th>
        <th>Sun Rise Time</th></tr>
    <tr>
        <td>{{london.name | uppercase}}</td>
        <td>{{london.weather[0].description | uppercase}}</td>
        <td>{{london.sys.sunset| date:'short'}}</td>
        <td>{{london.sys.sunrise | date:'short'}}</td>
    </tr>
    <tr>
        <td>{{Carlisle.name | uppercase}}</td>
        <td>{{Carlisle.weather[0].description | uppercase}}</td>
        <td>{{Carlisle.sys.sunset| date:'short'}}</td>
        <td>{{Carlisle.sys.sunrise | date:'short'}}</td>
    </tr>
    <tr>
        <td>{{Birmingham.name | uppercase}}</td>
        <td>{{Birmingham.weather[0].description | uppercase}}</td>
        <td>{{Birmingham.sys.sunset| date:'short'}}</td>
        <td>{{Birmingham.sys.sunrise | date:'short'}}</td>
    </tr>
    <tr>
        <td>{{Bristol.name | uppercase}}</td>
        <td>{{Bristol.weather[0].description | uppercase}}</td>
        <td>{{Bristol.sys.sunset| date:'short'}}</td>
        <td>{{Bristol.sys.sunrise | date:'short'}}</td>
    </tr>
    <tr>
        <td>{{Cambridge.name | uppercase}}</td>
        <td>{{Cambridge.weather[0].description | uppercase}}</td>
        <td>{{Cambridge.sys.sunset| date:'short'}}</td>
        <td>{{Cambridge.sys.sunrise | date:'short'}}</td>
    </tr>
    <h4 style="font-family: Aparajita">** Records are published based on  Weather API forecast.</h4>
</table>
</div>
